<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Inventory", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Users", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Shops", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Products", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
            <div class="row" style="float:right;color:white;padding:5px;">
                <div class="col col-6" style="text-align: center;color: white; border: 1px solid; border-radius: 50px; padding: 5px;">
                    Raian

                </div>
                <div class="col col-6">
                 
                    @using (Html.BeginForm("Logout", "Auth", FormMethod.Post))
                    {
                        <input type="submit" class="btn" value="Log Out" onclick='return logout()' style="color:white;" />
                    }

                </div>

            </div>
        </div>
   
    </nav>


    <div style="position: absolute; left: 0px; bottom: 0px; width: 2500px; top: 56px; background: #ffffff">
         
           
          <ul class="nav flex-column sidebar">
              <li class="nav nav-tabs">

                  @Html.ActionLink("Users", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
              </li>
              <li class="nav-tabs">
             
                  @Html.ActionLink("Shops", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
              </li>
              <li class="nav-tabs">

                  @Html.ActionLink("Products", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
              </li>

              <li class="nav-tabs">
             
                  @Html.ActionLink("Settings", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
              </li>

              <li class="nav-tabs">

                  @Html.ActionLink("Orders", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
              </li>

              <li class="nav-tabs">

                  @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
              </li>


          </ul>




        
        <footer style="position:absolute;width:100%;bottom:0px;">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

            <div style="position: absolute; top: 56px;left: 250px; right: 0px; background: #EDE8DC ">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
                    </footer>

                </div>




            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

</body>
</html>
